.home{
    display: flex;
    padding: 10px;
    background-color: lightgray;
    height: 100vh;
    overflow: scroll;

    
}

.home-left{
    flex: .25;
    height: 90vh;
    
    
    
}
@media screen and (max-width: 800px) {
    .home-left{
        display:none;
    }

    .home-right{
        display: none;
    }
        
}
.home-center{
    flex: .50;
}
.home-right{
    flex: .25;
    
}