
.conservation-component{
    display: flex;
    align-items: center;
    margin: 10px;
}

.conservation-component span{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 60;
}

.group-component{
    display: flex;
    align-items: center;
    margin: 10px;
}
.group-component span{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 60; 

}